<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <!--    <link rel="stylesheet" href="/css/events.css">-->
    <!--    <link rel="stylesheet" href="/css/navbar.css">-->
    <!--    <link rel="stylesheet" href="/css/openhelp.css">-->
    <link rel="stylesheet" href="/css/main.css">

    <!--    <link rel="stylesheet" href="/css/checkbox.css">-->
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>

<!--    <h1 class="text-center" th:text="'Deleting Event ' + ${event.getTitle()}"></h1>-->
<div class="container d-flex justify-content-center">


    <div id="whitebox">
        <h1 class="text-center mt-4"
            th:text="'Are you sure you want to delete the ' + ${event.getTitle() + ' event?'}"></h1>
        <form th:action="@{'/events/delete/'+ ${id}}" method="post">
            <div class="d-flex justify-content-center my-5">
                <a th:href="@{'/events/singleevent/'+ ${id}}" class="mx-5 btn btn-close">Go Back</a>
                <button type="submit" class="btn btn-doDelete mx-5">Confirm</button>
            </div>
        </form>
    </div>
</div>
<nav th:insert="partials/navbar :: footer"></nav>

</body>
</html>
