<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="/css/openhelp.css">
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>

<div class="jumbotron">
    <h1 class=""> Are you sure you want to delete event?</h1>
</div>

<div class="container">
    <div class="row">
        <form th:action="@{'/events/delete/'+ ${id}}" method="post">
            <a th:href="@{'events/singleevent/'+ ${id}}" class="">
                Go Back</a>
            <button type="submit" class="">
                Yes
            </button>
        </form>
    </div>
</div>

</body>
</html>
