<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="mapbox" th:content="${mapbox}">
    <th:block th:insert="partials/head :: head"></th:block>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <link href='../core/main.css' rel='stylesheet' />
    <link href='../daygrid/main.css' rel='stylesheet' />
    <script src='../core/main.js'></script>
    <script src='../daygrid/main.js'></script>

    <title>Event Index</title>
    <style>
        #map{
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <nav th:insert="partials/navbar :: navbar"></nav>

    <h1 class="text-center">All Upcoming Events</h1>

    <br><br>

    <div class="d-flex flex-wrap p-4 justify-content-center">

<!--    <div class="d-flex flex-wrap row justify-content-between">-->
        <div th:each="event : ${events}" class="card col-3 d-inline mr-5 mb-5">
            <a th:text="${event.title}" class="card-title"></a>
            <div class="card-body ">
                <p th:text="${event.details}"></p>
                <p th:text="${event.address}"></p>
<!--                <p th:text="${event.date}"></p>-->
<!--                <p th:text="${event.time}"></p>-->
<!--                <p> created by user with email <span th:text="${event.user.email}"> </span></p>-->
            </div>
            <div class="d-flex justify-content-center">
                <div th:each="image : ${event.images}">
                    <div>
                        <img th:src="${image}" style="height: 200px; margin: auto"/>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-nowrap btn-div justify-content-around">
                <!--view post-->
                <a th:href="@{'/events/singleevent/'+${event.id}}" class="btn ">
                    <button>View Event</button>
                </a>

            </div>
        </div>
    </div>
    <div id="map"></div>
    <div id="calendar"></div>
    <style>
        h5{
            color: #ea6725;
        }

        h1{
            color: white;
            text-shadow: 2px 2px 4px #000000
        }

        a{
            text-decoration: none!important;
        }

        .card:hover{
            border: 1px solid #ea6725;
            box-shadow: 0 15px 6px -8px #ea6725;
        }

    </style>
    <nav th:insert="partials/navbar :: footer"></nav>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!-- Mapbox JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="/js/mapbox-geocoder-utils.js"></script>
    <!-- Custom JS -->
    <script>
        var token = document.querySelector('meta').content;

        mapboxgl.accessToken = token;
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 15
        });

        geocode("600 Navarro St #600, San Antonio, TX 78205",token).then(function (result) {
            map.setCenter(result);
        });

        var request = $.ajax({'url': '/event/events.json'});
        request.done(function (events) {
            events.forEach(function (event) {
                console.log(event.date_time);
                geocode(event.address, token).then(function (result) {
                    var marker = new mapboxgl.Marker()
                        .setLngLat(result)
                        .addTo(map);
                });
            });
        });

        $(document).ready(function() {
            var request = $.ajax({'url': '/event/events.json'});
            request.done(function (events) {
                var calEvents = [];
                events.forEach(function (event) {
                    console.log(event.date_time);

                    calEvents.push({
                        title: event.title,
                        start: event.date_time

                    });
                    var calendarEl = $('#calendar');
                    var calendar =  new FullCalendar.Calendar(calendarEl, {
                        plugins: [ 'dayGrid' ],
                        defaultView: 'dayGridMonth',
                        events: calEvents
                    });

                    calendar.render();
                });
            });
        });


    </script>
</body>
</html>