<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">

    <title>Event Index</title>
</head>
<body>
    <nav th:insert="partials/navbar :: navbar"></nav>

    <h1 class="text-center">All Upcoming Events</h1>

    <br><br>

    <div class="d-flex flex-wrap p-4 justify-content-center">

<!--    <div class="d-flex flex-wrap row justify-content-between">-->
        <div th:each="event : ${events}" class="card col-3 d-inline mr-5 mb-5">
            <a th:text="${event.title}" class="card-title"></a>
            <div class="card-body ">
                <p th:text="${event.details}"></p>
                <p th:text="${event.address}"></p>
<!--                <p th:text="${event.date}"></p>-->
<!--                <p th:text="${event.time}"></p>-->
<!--                <p> created by user with email <span th:text="${event.user.email}"> </span></p>-->
            </div>
            <div class="d-flex justify-content-center">
                <div th:each="image : ${event.images}">
                    <div>
                        <img th:src="${image}" style="height: 200px; margin: auto"/>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-nowrap btn-div justify-content-around">
                <!--view post-->
                <a th:href="@{'/events/singleevent/'+${event.id}}" class="btn ">
                    <button>View Event</button>
                </a>

            </div>
        </div>
    </div>

    <style>
        h5{
            color: #ff7b00;
        }

        h1{
            color: white;
            text-shadow: 2px 2px 4px #000000
        }

        a{
            text-decoration: none!important;
        }

        .card:hover{
            border: 1px solid #ff7b00;
            box-shadow: 0 15px 6px -8px #ff7b00;
        }

    </style>
</body>
</html>