<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/events.css">
    <title>Single Event</title>
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>
<div class="jumbotron">
    <h1 class=""> Showing Single Events</h1>
</div>
<div class="container">
    <div class="card mx-auto" style="width: 100%;">
        <div class="card-title">
            <h3 th:text="${event.title}"></h3>
        </div>
        <div class="card-body">
            <h5>Address:</h5>
            <h5 th:text="${event.address}"></h5>
            <h5>Summary:</h5>
            <h5 th:text="${event.summary}"></h5>
        </div>


        <!--    !!!!!!!!!!!!!!!!! NEED TO ATTACH USER TO SINGLE EVENT !!!!!!!!!!!!!!!!!!!!!!!!-->

        <!--        <h3> created by: <span th:text="${event.user.email}"></span></h3>-->
        <!--        <h3> created by user with id <span th:text="${event.user.id}"> </span></h3>-->


        <!--        <div th:if="${event.details != null}">-->
        <!--            <h3 th:text="${event.eventDetails.topicDescription}"></h3>-->
        <!--            <p>History of post:-->
        <!--                <span th:text="${event.eventDetails.historyOfEvent}"></span>-->
        <!--            </p>-->
        <!--        </div>-->

        <div class="mx-auto">
            <div th:each="image : ${event.images}">
                <div>
                    <img th:src="${image}" style="height: 300px; margin-left: 10px; margin-right: 10px;"/>
                </div>
            </div>
        </div>

        <!--                    <div th:if="${event.user.id == userId}">-->
        <!--edit post-->
        <div class="d-flex">
            <a th:href="@{'/events/edit/'+${event.id}}" class="btn">
                <button>Edit Event</button>
            </a>
            <!--delete post-->
            <a th:href="@{'/events/delete/'+ ${event.id}}" class="btn">
                <button>Delete Event</button>
            </a>
        </div>
        <!--                    </div>-->


    </div>
</div>


</body>
</html>
