<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <!--    <link rel="stylesheet" href="css/navbar.css">-->
    <link rel="stylesheet" href="css/main.css">
    <!--    <link rel="stylesheet" href="css/search-filter.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <title>NavBar</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg py-3 mb-4">
    <a class="navbar-brand" href="/home">OpenHelp</a>

    <div class="collapse navbar-collapse d-flex flex-row" id="navbarSupportedContent">
        <!--        ml-auto vs mr-auto-->
        <ul class="navbar-nav ml-auto">

            <li class="nav-item mx-2">
                <a class="nav-link" href="/users">Partners</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item mx-2" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/users/profile">View My Profile</a>
            </li>
            <li class="nav-item mx-2" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/events/create">Create an Event</a>
            </li>
            <li class="nav-item mx-2" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item mx-2" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/sign-up">Login/Signup</a>
            </li>

            <li>
                <div class="container">
                    <div class="row">
                        <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                            <div class="input-group-btn search-panel">
                                <select name="search_param" id="search_param" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    <option value="all">All</option>
                                    <option value="event">Events</option>
                                    <option value="user">Users</option>
                                </select>
                            </div>
                            <div>

                                <input class="form-control mr-sm-2" id="searchfield" type="search" placeholder="Search"
                                       aria-label="Search" name="query">
                                <button class="btn my-2 my-sm-0" id="searchbutton" type="submit"><span
                                        class="glyphicon glyphicon-search"></span>Search Events
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- FOOTER -->
<footer th:fragment="footer" id="footer" class="footer fixed-footer-bottom">
    <ul id="footer-ul">
        <li class="footer-link" id="footer-left">
            <a href="/about">
                <img src="/images/code_icon.png" class="" style="height: 30px; width: 30px;">About
            </a>
        </li>
        <li class="footer-link">
            <a href="http://www.github.com/walshcbryan">
                <i class="fab fa-github"></i>
                Github/WalshCBryan
            </a>
        </li>
        <li class="footer-link">
            <a href="http://www.github.com/https://github.com/evaleriog">
                <i class="fab fa-github"></i>
                Github/Evaleriog
            </a>
        </li>
        <li class="footer-link">
            <a href="http://www.github.com/roger-mayer">
                <i class="fab fa-github"></i>
                Github/Roger-Mayer
            </a>
        </li>
        <li class="footer-link">
            <a href="https://github.com/ChristianCrousser">
                <i class="fab fa-github"></i>
                Github/ChristianCrousser
            </a>
        </li>
    </ul>
</footer>


<script>
    $(document).ready(function (e) {
        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });
</script>

</body>
</html>