<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>User Profile</title>
    <!--    filestack-->
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

    <!--    bootstrap-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <!--    <link rel="stylesheet" href="../css/login.css">-->
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/editModal.css">

    <!--    attempting to link filestack externally-->
<!--        <script src="../js/keys.js"></script>-->
        <script src="/js/keys.js"></script>
    <!--    <script src="../js/filestack.js"></script>-->
        <script src="/js/filestack.js"></script>

</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>

<br>
<br>
<h1 class="text-center">Welcome, <span th:text="${user.getName()}"></span></h1>
<br>
<br>


<div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-doEdit d-inline mr-0" data-toggle="modal" data-target="#editInfoModal"
                    id="modalButton">
                Edit Profile
            </button>
        </div>
        <div class="card mb-3" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <!--                    <img th:src="@{${user.getImage()}}" alt="user avatar" class="card-img">-->
                    <img th:src="${user.getImage()}"
                         alt="user avatar" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title" th:text="${user.getName()}"></h1>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>About</h3>
                                <span th:text="${user.getAbout()}"></span>
                            </li>
                            <li class="list-group-item">
                                <h3>Address</h3>
                                <span th:text="${user.getAddress()}"></span>
                            </li>
                            <li class="list-group-item">
                                <h3>Phone</h3>
                                <span th:text="${user.getPhone()}"></span>
                            </li>
                            <li class="list-group-item">
                                <a th:href="@{'mailto:' + ${user.getEmail()}}" th:text="${user.getEmail()}"></a>
                            </li>
                            <li class="list-group-item">
                                <a th:href="@{${user.getWebsite()}}" target="_blank">Website</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <form id="pick-form" th:action="@{/users/imageupload}" th:method="post">
                <div class="field">
                    <div class="control">
                        <button class="button btn-doEdit mt-1 mr-2" type="button" id="picker">Change Image</button>
                        <input type="hidden" name="filetoupload" id="fileupload">
                        <button class="button btn-doUpload mt-1" type="submit">Submit Image</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!--<div class="box">-->
<!--    <form id="pick-form" th:action="@{/users/imageupload}" th:method="post">-->
<!--        <div class="field">-->
<!--            <div class="control">-->
<!--                <button class="button" type="button" id="picker">Pick file</button>-->
<!--                <input type="hidden" name="filetoupload" id="fileupload">-->
<!--            </div>-->
<!--            <div class="control" id="nameBox"></div>-->
<!--            <div class="control" id="urlBox"></div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <div class="control">-->
<!--                <button class="button" type="submit">Submit Image</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--events div-->
<div class="col-sm-12 col-md-4">
    <div class="card mb-3" style="width: 100%">
        <div class="card-body">
            <h1 class="card-title">Your events </h1>
            <ul class="list-group list-group-flush" th:each="event : ${user.getUserEvents()}">
                <li class="list-group-item" th:if="${event.isIs_creator() == true}">
                    <a th:href="@{'/events/edit/' + ${event.getEvent().getId()}}">
                        <img th:src="@{${event.getEvent().getImages()}}" alt="event image">
                        <span th:text="${event.getEvent().getTitle()}"></span>
                        <span th:text="${event.getEvent().getDate_time()}"></span>
                    </a>
                </li>
            </ul>
            <br>
        </div>
        <!--     attending events     ---------->
        <div class="attendingevents">
            <h1 class="card-title">Other event you are attending </h1>

            <ul class="list-group list-group-flush" th:each="event : ${user.getUserEvents()}">
                <li class="list-group-item" th:if="${event.isIs_creator() != true}">
                    <a th:href="@{'/events/details/' + ${event.getEvent().getId()}}">
                        <img th:src="@{${event.getEvent().getImages()}}" alt="event image">
                        <span th:text="${event.getEvent().getTitle()}"></span>
                        <span th:text="${event.getEvent().getDate_time()}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="editInfoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit your information...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--modal pops up when user wants to edit?-->
                <!--"@{|/posts/${post.id}|}"-->
                <form th:action="@{/users/profile}" th:method="post" th:object="${user}">
                    <input type="hidden" th:field="*{username}">
                    <div class="form-group">
                        <label for="edit-email">Email address</label>
                        <input type="email" class="form-control" id="edit-email" th:value="${user.email}"
                               th:field="*{email}" required>
                        <!--        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="edit-name">Name</label>
                        <input type="text" class="form-control" id="edit-name" th:value="${user.name}"
                               th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <!--        <label for="edit-password">Password</label>-->
                        <input type="hidden" class="form-control" id="edit-password" th:value="${user.password}"
                               th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label for="edit-phone">Telephone</label>
                        <input type="tel" class="form-control" id="edit-phone" th:value="${user.phone}"
                               th:field="*{phone}">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="edit-isOrg" th:field="*{is_org}">
                        <label class="form-check-label ml-5" for="edit-isOrg">Are you representing an
                            Organization?</label>
                    </div>
                    <div class="form-group">
                        <label for="edit-address">Address</label>
                        <input type="text" class="form-control" id="edit-address" th:value="${user.address}"
                               th:field="*{address}">
                    </div>
                    <div class="form-group">
                        <label for="edit-website">Website</label>
                        <input type="url" class="form-control" id="edit-website" th:value="${user.website}"
                               th:field="*{website}">
                    </div>
                    <div class="form-group">
                        <label for="edit-about">Tell us about you!</label>
                        <textarea class="form-control" id="edit-about" th:text="${user.about}"
                                  th:field="*{about}"></textarea>
                    </div>
                    <!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
                    <button type="submit" class="btn btn-doEdit">Save changes</button>
                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<script>
    $('#editInfoModal').on('shown.bs.modal', function () {
        $('#modalButton').trigger('focus')
    });

    document.getElementById('picker').addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    // Set up the picker
    const client = filestack.init("AChLkyrSmK6VdYPhk8lw9z");

    //set up picker options
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 500 * 500,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    // const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');


    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        // urlBox.appendChild(document.createTextNode('Uploaded to: '));
        // urlBox.appendChild(url);
        $('#fileupload').attr('value', url);

    }

</script>
<nav th:insert="partials/navbar :: footer"></nav>

</body>
</html>