<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>User Profile</title>
    <!--    filestack-->
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <!--    <link rel="stylesheet" href="../css/editModal.css">-->

    <!--    bootstrap-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
    <script type="text/javascript" src="js/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!--    <link rel="stylesheet" href="../css/login.css">-->
    <!--    <link rel="stylesheet" href="../css/home.css">-->
    <!--    <link rel="stylesheet" href="../css/navbar.css">-->
    <!--    <link rel="stylesheet" href="../css/openhelp.css">-->


    <!--    attempting to link filestack externally-->
    <!--        <script src="../js/keys.js"></script>-->
    <script src="/js/keys.js"></script>
    <!--    <script src="../js/filestack.js"></script>-->
    <script src="/js/filestack.js"></script>

</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>

<!--<br>-->
<!--<br>-->
<div class="container">
    <!--    <h1 class="text-center header">Welcome, <span th:text="${user.getName()}"></span></h1>-->
    <!--    <br>-->
    <!--    <br>-->

    <div class="row">
        <!--User Profile info -->
        <div class="col-sm-12 col-md-8 mx-auto">
            <div class="card mb-3" style="width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <!--                    <img th:src="@{${user.getImage()}}" alt="user avatar" class="card-img">-->
                        <img th:src="${user.getImage()}"
                             alt="user avatar" class="card-img">
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="card-body">
                            <h1 class="card-title">Welcome, <span th:text=" ${user.getName()}"></span></h1>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h2>About</h2>
                                    <span th:text="${user.getAbout()}"></span>
                                </li>
                                <li class="list-group-item">
                                    <h2>Address</h2>
                                    <span th:text="${user.getAddress()}"></span>
                                </li>
                                <li class="list-group-item">
                                    <h2>Phone</h2>
                                    <span th:text="${user.getPhone()}"></span>
                                </li>
                                <li class="list-group-item">
                                    <a th:href="@{'mailto:' + ${user.getEmail()}}" th:text="${user.getEmail()}"></a>
                                </li>
                                <li class="list-group-item">
                                    <a th:href="@{${user.getWebsite()}}" target="_blank">Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <form id="pick-form" th:action="@{/users/imageupload}" th:method="post">
                    <div class="field">
                        <div class="control d-flex justify-content-start">
                            <button class="button btn-doEdit mt-1 ml-0 mr-3" type="button" id="picker">Change Image
                            </button>

                            <button class="button btn btn-enroll mt-1 mr-0 ml-3" type="submit">Submit Image</button>
                            <!--                            <div id="uploadConfirm" class="d-inline"></div>-->
                            <button type="button" class="button btn-doEdit mt-1 mr-2 ml-auto"
                                    data-toggle="modal"
                                    data-target="#editInfoModal"
                                    id="modalButton">
                                Edit Profile
                            </button>
                        </div>
                        <div class="control d-flex justify-content-start mt-2 mb-5">
                            <input type="text" name="filetoupload" id="fileupload"
                                   style="width:60%; font-size: large; padding:5px;"
                                   placeholder="Include url of image here or use our filepicker above!">
                        </div>
                    </div>
                    <!--                <div class="d-flex justify-content-end">-->
                    <!--                    -->
                    <!--                </div>-->
                </form>

            </div>
        </div>

        <!--User Events info-->

        <div class="col-sm-12 col-md-4">
            <div class="card mb-3" style="width: 100%; ">
                <div class="card-body" style="min-height: 150px;" >
                    <h1 class="card-title">Your Events</h1>
                    <ul class="list-group list-group-flush" th:each="event : ${user.getUserEvents()}">
                        <li class="list-group-item" th:if="${event.isIs_creator() == true}">
                            <a th:href="@{'/events/singleevent/' + ${event.getEvent().getId()}}">
                                <div class="row">
                                    <div class="col-4">
                                        <img th:src="@{${event.getEvent().getImages()}}" alt="event image" width="100px"
                                             height="100px">
                                    </div>
                                    <div class="col-8">
                                        <span><h3 th:text="${event.getEvent().getTitle()}"></h3></span>
                                        <span class="thisDateTime" th:text="${event.getEvent().getDate_time()}"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
            <!--     attending events     ---------->
            <div class="attendingevents card mb-3">
                <div class="card-body">
                    <h1 class="card-title">Events you are attending </h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="events : ${user.getUserEvents()}">
                <span th:if="${events.isIs_creator() != true}">
                    <a th:href="@{'/events/singleevent/' + ${events.getEvent().getId()}}">
                        <div class="row">
                                <div class="col-4">
                                    <img th:src="@{${events.getEvent().getImages()}}" alt="event image" height="100px"
                                         width="100px">
                                </div>
                            <div class="col-8">
                            <span><h3 th:text="${events.getEvent().getTitle()}"></h3></span>
                        <span class="thisDateTime" th:text="${events.getEvent().getDate_time()}"></span>
                                    </div>
                        </div>
                    </a>
                    <br>
                    <button class='btn-doAccordion accordion' style="border: 1px solid #4db2f1;">Leave a Story</button>
                    <div class="panel">
                        <form th:method="post" th:action="@{'/events/add-story/' + ${events.getId()}}">
                            <textarea name="story" th:text="${events.getStory()}"></textarea>
                            <br>
                            <button class="btn-doPost">Post Your Story</button>
                        </form>
                    </div>
                    </button>
                </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--</div>-->


        <!--Edit profile modal-->
        <div class="modal editprofilemodal" tabindex="-1" role="dialog" id="editInfoModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content editprofilemodal-content">
                    <div class="modal-header editprofilemodal-header">
                        <h5 class="modal-title editprofilemodal-title">Edit your information...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--modal pops up when user wants to edit?-->
                        <!--"@{|/posts/${post.id}|}"-->
                        <form th:action="@{/users/profile}" th:method="post" th:object="${user}">
                            <input type="hidden" th:field="*{username}">
                            <input type="hidden" th:field="*{image}">
                            <input type="hidden" th:field="*{enabled}">
                            <div class="form-group">
                                <label for="edit-email">Email address</label>
                                <input type="email" class="form-control" id="edit-email" th:value="${user.email}"
                                       th:field="*{email}" required>
                                <!--        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                            </div>
                            <div class="form-group">
                                <label for="edit-name">Name</label>
                                <input type="text" class="form-control" id="edit-name" th:value="${user.name}"
                                       th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <!--        <label for="edit-password">Password</label>-->
                                <input type="hidden" class="form-control" id="edit-password" th:value="${user.password}"
                                       th:field="*{password}">
                            </div>
                            <div class="form-group">
                                <label for="edit-phone">Telephone</label>
                                <input type="tel" class="form-control" id="edit-phone" th:value="${user.phone}"
                                       th:field="*{phone}">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="edit-isOrg" th:field="*{is_org}">
                                <label class="form-check-label ml-5" for="edit-isOrg">Are you representing an
                                    Organization?</label>
                            </div>
                            <div class="form-group">
                                <label for="edit-address">Address</label>
                                <input type="text" class="form-control" id="edit-address" th:value="${user.address}"
                                       th:field="*{address}">
                            </div>
                            <div class="form-group">
                                <label for="edit-website">Website</label>
                                <input type="url" class="form-control" id="edit-website" th:value="${user.website}"
                                       th:field="*{website}">
                            </div>
                            <div class="form-group">
                                <label for="edit-about">Tell us about you!</label>
                                <textarea class="form-control" id="edit-about" th:text="${user.about}"
                                          th:field="*{about}" maxlength="255"></textarea>
                            </div>
                            <!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
                            <button type="submit" class="btn btn-doEdit">Save changes</button>
                            <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div><!-- end of modal-->
    </div>
</div>

<div class="footer mt-5 mb-0">
    <nav th:insert="partials/navbar :: footer"></nav>
</div>
<script>
    convertDateTime();

    $('#editInfoModal').on('shown.bs.modal', function () {
        $('#modalButton').trigger('focus')
    });


    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    // $( function() {
    //     $( ".accordion" ).accordion();
    // } );

    document.getElementById('picker').addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });


    // Set up the picker
    const client = filestack.init("AChLkyrSmK6VdYPhk8lw9z");

    //set up picker options
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 500 * 500,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    // const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');


    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        // urlBox.appendChild(document.createTextNode('Uploaded to: '));
        // urlBox.appendChild(url);

        $('#fileupload').attr('value', url);
        $('#fileupload').css('background', 'green');
    }


    //    DATE CONVERSION LOGIC
    function convertDateTime() {
        $(".thisDateTime").each(function () {
            var unformattedDate = $(this).text();
            // console.log(unformattedDate);
            var formattedDate = moment(unformattedDate).format('MMMM Do YYYY, h:mm a');
            $(this).text(formattedDate);
            // console.log(formattedDate);
        });
    }

</script>
<!--<nav th:insert="partials/navbar :: footer"></nav>-->


<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>
</body>
</html>