<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <!--    <link rel="stylesheet" href="../css/navbar.css">-->
    <!--    <link rel="stylesheet" href="../css/home.css">-->
    <link rel="stylesheet" href="css/main.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <title th:text="${user.getName()} + ' Profile'"></title>
    <style>
        body {
            background-color: #4db2f1;
        }

        .singleuserlink a {
            color: #ea6725 !important;
            text-decoration: none !important;
        }

        .singleuserlink a:hover {
            color: #4db2f1 !important;
        }

        img {
            border: 1px solid black;
        }

        .list-group a {
            color: black;
        }

        .event_title {
            color: #ea6725;
        }

        .event_list:hover {
            border: 5px solid purple;
        }

    </style>
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>
<div class="container">

    <h1 class="text-center">Viewing Single User</h1>

    <div class="row p-5 justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="card mb-3 p-2 border-dark" style="width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img th:src="@{${user.getImage()}}" alt="user avatar" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title" th:text="${user.getName()}"></h1>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3>About</h3>
                                    <span th:text="${user.getAbout()}"></span>
                                </li>
                                <li class="list-group-item">
                                    <h3>Address</h3>
                                    <span th:text="${user.getAddress()}"></span>
                                </li>
                                <li class="list-group-item">
                                    <h3>Phone</h3>
                                    <span th:text="${user.getPhone()}"></span>
                                </li>
                                <li class="list-group-item singleuserlink">
                                    <a th:href="@{'mailto:' + ${user.getEmail()}}" th:text="${user.getEmail()}"></a>
                                </li>
                                <li class="list-group-item singleuserlink">
                                    <a th:href="@{${user.getWebsite()}}" target="_blank">Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3 border-dark" style="width: 100%">
            <div class="card-body">
                <h1 class="card-title">Events Created by <span th:text="${user.getName()}"></span></h1>
                <ul class="list-group">
                    <div th:each="event : ${user.getUserEvents()}">
                        <li class=" event_list list-group-item border-dark" th:if="${event.isIs_creator() == true}">
                            <a th:href="@{'/events/singleevent/' + ${event.getEvent().getId()}}">
                                <img th:src="@{${event.getEvent().getImages()}}" alt="event image" width="50px" height="50px">
                                <span th:text="${event.getEvent().getTitle()}" class="event_title"></span>
                                <span class="thisDateTime" th:text="${event.getEvent().getDate_time()}"></span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer mt-5 mb-0">
    <nav th:insert="partials/navbar :: footer"></nav>
</div>
<script>
    convertDateTime();

    //    DATE CONVERSION LOGIC
    function convertDateTime() {
        $(".thisDateTime").each(function () {
            var unformattedDate = $(this).text();
            // console.log(unformattedDate);
            var formattedDate = moment(unformattedDate).format('MMMM Do YYYY, h:mm a');
            $(this).text(formattedDate);
            // console.log(formattedDate);
        });
    }
</script>

</body>
</html>
