<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>create-user</title>
    <style>
        body{
            background-color: #4DB2F1;
        }

        a{
            color: #EA6725;
        }

        img{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<nav th:include="partials/navbar :: navbar"></nav>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="card mb-3" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img th:src="@{${user.getImage()}}" alt="user avatar" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title" th:text="${user.getName()}"></h1>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h3>About</h3>
                                <span th:text="${user.getAbout()}"></span>
                            </li>
                            <li class="list-group-item">
                                <h3>Address</h3>
                                <span th:text="${user.getAddress()}"></span>
                            </li>
                            <li class="list-group-item">
                                <h3>Phone</h3>
                                <span th:text="${user.getPhone()}"></span>
                            </li>
                            <li class="list-group-item">
                                <a th:href="@{'mailto:' + ${user.getEmail()}}" th:text="${user.getEmail()}"></a>
                            </li>
                            <li class="list-group-item">
                                <a th:href="@{${user.getWebsite()}}" target="_blank">Website</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3" style="width: 100%">
            <div class="card-body">
                <h1 class="card-title">Events Created by <span th:text="${user.getName()}"></span></h1>
                <ul class="list-group list-group-flush" th:each="event : ${user.getUserEvents()}">
                    <li class="list-group-item" th:if="${event.isIs_creator() == true}">
                        <a th:href="@{'/events/details/' + ${event.getEvent().getId()}}">
                            <img th:src="@{${event.getEvent().getImages()}}" alt="event image">
                            <span th:text="${event.getEvent().getTitle()}"></span>
                            <span th:text="${event.getEvent().getDate_time()}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




</body>
</html>