.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

body {
    background: #4DB2F1;
}