body {
    background: #4db2f1;
}

/*good to integrate*/
/*ABOUT US PAGE*/
.headshot {
    height: 260px;
    width: 250px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.whoIs-links {
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.aboutlinksUL {
    list-style-type: none;
    align-items: flex-end!important;
    margin-top: auto;
    /*position: absolute;*/
    /*bottom: 2px;*/
}

.aboutcard {
    width: 300px;
    border: 1px solid #ea6725;
    border-radius: 5px;
    margin: 10px;
    /*position: relative;*/
}