.modal {
    border: 2px solid #ff7b00 !important;
    border-radius: 5px !important;
}

.modal-content {
    background-color: #0080d1 !important;
}

.modal label,
.modal-title {
    font-size: 1.25em;
    color: white !important;
}

.modal input,
.modal textarea {
    border: 1px solid #ff7b00 !important;
}

.btn-close {
    background-color: gray !important;
    color: white !important;
    border: 1px solid white !important;
}

.btn-doEdit {
    background-color: #ff7b00 !important;
    color: white !important;
    border: 1px solid white !important;

}

.btn-doEdit,
.btn-close {
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}