/*good to int*/
/*EDIT PROFILE MODAL*/
.editprofilemodal {
    border: 2px solid #ea6725 !important;
    border-radius: 5px !important;
}

.editprofilemodal-content {
    background-color: #4db2f1 !important;
}

.editprofilemodal label,
.editprofilemodal-title {
    font-size: 1.25em;
    color: white !important;
}

.editprofilemodal input,
.editprofilemodal textarea {
    border: 1px solid #ea6725 !important;
}

.btn-close {
    background-color: gray !important;
    color: white !important;
    border: 1px solid white !important;
}

.btn-doEdit {
    background-color: #ea6725 !important;
    color: white !important;
    border: 1px solid white !important;
}

.btn-doUpload {
    background-color: white !important;
    color: #4db2f1 !important;
    border: 1px solid #ea6725 !important;

}
.btn-doEdit,
.btn-close,
.btn-doUpload {
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}