* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(135deg, #0080d1, darkblue);*/
    background-color: #0080d1;
    height: 100%;
}

#carouselmain {
    border: 1px solid white;
    -webkit-box-shadow: 1px 3px 10px 6px gray; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 3px 10px 6px gray; /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 3px 10px 6px gray; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.center {
    text-align: center;
}

.roboto {
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}

.white {
    color: white;
}

.lgtext h1{
font-size: 4em;
}

.lgtext h2{
    font-size: 3em;
}

.ul {
    text-decoration: underline double #ff6a00;
}

.orange {
background-color: #ff6a00;
}

#upcoming {
    border: 2px solid #ff6a00;
    border-radius: 5px;
}