* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0!important;
}

h1.header{
  color: white;
  /*text-shadow: 2px 2px 4px #000000*/
}
.xsmall {
  font-size: 2em!important;
}

.small {
  font-size: 3em!important;
}

.medium {
  font-size: 4em!important;
}
.large {
  font-size: 5em!important;
}

.xlarge {
  font-size: 10em!important;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}
.roboto {
  font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}
.white {
  color: white;
}

.black {
  color: black!important;
}

.black:hover {
  color: #ea6725!important;
}

.lgtext h1 {
  font-size: 4em;
}
.lgtext h2 {
  font-size: 3em;
}
.underline {
  text-decoration: underline double #ff6a00;
}
.orange {
  background-color: #ff6a00;
}
body {
  /*background-image: linear-gradient(135deg, #4db2f1, darkblue);*/
  background-color: #4db2f1;
  height: 100%;
}

.container{
  /*padding-: 2em !important;*/
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  min-width: 100%!important;
  min-height: 100vh!important;
}
ul {
  list-style: none;
}
/*ABOUT US PAGE*/
.headshot {
  height: 260px;
  width: 250px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.whoIs-links {
  font-size: 18px;
  line-height: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.aboutlinksUL {
  list-style-type: none;
  align-items: flex-end !important;
  margin: auto;
  border-top: 1px solid #4db2f1;
  padding-top:15px;
  width: 80%;

}

.noBottom {
  border:none!important;
}
.aboutcard {
  width: 300px;
  border: 1px solid #ea6725;
  border-radius: 5px;
  margin: 10px;
  /*position: relative;*/
}
.abtcodeuplogo {
  height: 55px;
  width: 55px;
}
.abtcodeuplogo:hover {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -webkit-box-shadow: 1px 3px 10px 6px #ea6725; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 3px 10px 6px #ea6725; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 3px 10px 6px #ea6725; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*USER PROFILE*/
.profileeventimgholder {
  height: 125px !important;
  width: 125px !important;
}
. profileeventimg {
  height: 100%;
  width: auto;
}
#uploadConfirm {
  height: 35px;
  width: 35px;
  background-color: yellowgreen;
  background-image: url("images/checkbox.png");
  visibility: hidden;
}
/*EDIT PROFILE MODAL*/
.editprofilemodal {
  /*border: 2px solid #ea6725 !important;*/
  /*border-radius: 5px !important;*/
}
.editprofilemodal-content {
  background-color: white !important;
  border: 1px solid #ea6725;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.editprofilemodal label,
.editprofilemodal-title {
  font-size: 1.25em;
  color: black !important;
}
.editprofilemodal input,
.editprofilemodal textarea {
  border: 1px solid #ea6725 !important;
}
button {
  padding-right:5px;
  padding-left:5px;
}
.btn-close {
  background-color: gray !important;
  color: white !important;
  border: 1px solid white !important;
  min-width: 120px;
  margin: 30px auto 10px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}
.btn-doEdit {
  background-color: #ea6725 !important;
  color: white !important;
  border: 1px solid white !important;
}
.btn-doUpload {
  background-color: white !important;
  color: #4db2f1 !important;
  border: 1px solid #ea6725 !important;
  margin: 30px auto 10px;
  min-width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}

.btn-enroll {
  background-color: limegreen !important;
  color: black !important;
  border: 1px solid white !important;
  min-width: 100px;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  height: 55px;
  padding-left:10px!important;
  padding-right:10px!important;
}

.btn-doAccordion {
  background-color: #ea6725 !important;
  color: white !important;
  border: 1px solid #4db2f1 !important;
  min-width: 120px;
  margin: 30px auto 10px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}

.white {
  color: white!important;
}

.thank-you {
  font-family:'Grand Hotel', cursive!important;
}



.btn-doUpload {
  background-color: #4db2f1 !important;
  color: white !important;
  border: 1px solid #ea6725 !important;
  min-width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}

.btn-doPost {
  background-color: #4db2f1 !important;
  color: white !important;
  border: 1px solid #ea6725 !important;
  min-width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
  margin-bottom: 10px;
  margin-left: -18px;
}

.btn-doDelete {
  background-color: red !important;
  color: white !important;
  border: 1px solid white !important;
  margin: 20px auto 5px;
  min-width: 120px;
  height: 50px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}
.btn-doAbort {
  background-color: white !important;
  color: #4db2f1 !important;
  border: 1px solid #ea6725 !important;
  margin: 20px auto 5px;
  min-width: 120px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  transition: all .3s ease-out;
}
.btn-doEdit,
.btn-close,
.btn-doUpload,
.btn-enroll {
  min-width: 100px;
  margin: 30px auto 5px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  transition: all .3s ease-out;
}

.btn {
  height: 50px;
}
#fileupload {
  border: 1px solid #ff6a00 !important;
  border-radius: 5px;
  margin: 0;
  font-size: 1.25em;
}
/*CREATE EVENT*/
.createeventform {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius:  5px;
  width: 100%;
}
.createeventform .section-title {
  font-size: 32px;
  letter-spacing: 1px;
  /*color: #4db2f1; !*color is different than login.css*!*/
}
.createeventform .forms {
  display: flex;
  /*align-items: flex-start;*/
  /*margin-top: 20px;*/
  background-color: #fff;
  padding: 10px !important;
  border-radius:  5px;
  border: 1px solid #ea6725;
  margin-bottom: 30px;
}
.createeventform .form {
  overflow: hidden;
  min-width: 350px;
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  transform-origin: top;
  margin-bottom: 60px;
}
.createeventform .form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 2px;
  clip: rect(0 0 0 0);
}
.createeventform .input-block {
  margin-bottom: 20px;
}
.createeventform .input-block label {
  font-size: 20px;
  color: dimgrey;
}
.createeventform .input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  line-height: 40px;
  color: #4db2f1;
  background: #eef9fe;
  border: 1px solid #ea6725;
  border-radius: 2px;
}
.createeventform .input-block textarea {
  /*this background color does not match other input blocks*/
  background-color: #eef9fe;
  min-width: 100%;
  min-height: 150px;
  border: 1px solid #ea6725;
  border-radius: 2px;
  font-size: 20px;
}
.createeventform .btn-submit {
  margin-right: auto;
  color: #fbfdff;
  background: #ea6725;
  padding: 1em;
  box-shadow: inset 0 0 0 2px #fbfdff;
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
}
.createeventform #checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
/*HOME*/
#carouselmain {
  /*border: 1px solid white;*/
  /*-webkit-box-shadow: 1px 3px 10px 6px gray; !* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ *!*/
  /*-moz-box-shadow: 1px 3px 10px 6px gray; !* Firefox 3.5 - 3.6 *!*/
  /*box-shadow: 1px 3px 10px 6px gray; !* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 *!*/
}
.carousel-inner{
  border: 1px solid white;
  -webkit-box-shadow: 1px 3px 10px 6px gray; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 3px 10px 6px gray; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 3px 10px 6px gray; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/*LOGIN SWITCHER FORM*/
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginform .section-title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #fff;
}
.loginform .forms {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.loginform .form-wrapper {
  animation: hideLayer .3s ease-out forwards;
  -webkit-animation: hideLayer .3s ease-out forwards;
}
.loginform .form-wrapper.is-active {
  animation: showLayer .3s ease-in forwards;
  -webkit-animation: showLayer .3s ease-in forwards;
}
@keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}

@-webkit-keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
@-webkit-keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}
.loginform .switcher {
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: .5px;
  color: lightgrey;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}
.loginform .form-wrapper.is-active .switcher-login {
  color: lightgrey;
  /*transform: translateX(90px);*/
}
.loginform .form-wrapper.is-active .switcher-signup {
  color: lightgrey;
  /*transform: translateX(-90px);*/
}
.loginform .underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 2px;
}
.loginform .underline::before {
  content: '';
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: transform .2s ease-out;
  -webkit-transition: transform .2s ease-out;
}
.loginform .switcher-login .underline::before {
  transform: translateX(101%);
  -webkit-transform: translateX(101%);
}
.loginform .switcher-signup .underline::before {
  transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
}
.loginform .form-wrapper.is-active .underline::before {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.loginform .form {
  overflow: hidden;
  min-width: 260px;
  margin-top: 50px;
  padding: 30px 25px;
  border-radius: 5px;
  transform-origin: top;
}
.loginform .form-login {
  animation: hideLogin .3s ease-out forwards;
  -webkit-animation: hideLogin .3s ease-out forwards;
  border: 1px solid #ea6725;
  border-radius: 5px;
}
.loginform .form-wrapper.is-active .form-login {
  animation: showLogin .3s ease-in forwards;
  -webkit-animation: showLogin .3s ease-in forwards;
}
@keyframes showLogin {
  0% {
    background: #d7e7f1;
    transform: translate(40%, 10px);
    -webkit-transform: translate(40%, 10px);
  }
  50% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  100% {
    background-color: #fff;
    transform: translate(35%, -20px);
    -webkit-transform: translate(35%, -20px);
  }
}
@keyframes hideLogin {
  0% {
    background-color: lightgrey;
    transform: translate(35%, -20px);
    -webkit-transform: translate(35%, -20px);
  }
  50% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  100% {
    background: lightgrey;
    transform: translate(40%, 10px);
    -webkit-transform: translate(40%, 10px);
  }
}

@-webkit-keyframes showLogin {
  0% {
    background: #d7e7f1;
    transform: translate(40%, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background-color: #fff;
    transform: translate(35%, -20px);
  }
}
@-webkit-keyframes hideLogin {
  0% {
    background-color: lightgrey;
    transform: translate(35%, -20px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background: lightgrey;
    transform: translate(40%, 10px);
  }
}
.loginform .form-signup {
  animation: hideSignup .3s ease-out forwards;
  -webkit-animation: hideSignup .3s ease-out forwards;
  border: 1px solid #ea6725;
  border-radius: 5px;
}
.loginform .form-wrapper.is-active .form-signup {
  animation: showSignup .3s ease-in forwards;
  -webkit-animation: showSignup .3s ease-in forwards;
}
@keyframes showSignup {
  0% {
    background: #d7e7f1;
    transform: translate(-40%, 10px) scaleY(.8);
    -webkit-transform: translate(-40%, 10px) scaleY(.8);
  }
  50% {
    transform: translate(0, 0) scaleY(.8);
    -webkit-transform: translate(0, 0) scaleY(.8);
  }
  100% {
    background-color: #fff;
    transform: translate(-35%, -20px) scaleY(1);
    -webkit-transform: translate(-35%, -20px) scaleY(1);
  }
}
@keyframes hideSignup {
  0% {
    background-color: lightgrey;
    transform: translate(-35%, -20px) scaleY(1);
    -webkit-transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    transform: translate(0, 0) scaleY(.8);
    -webkit-transform: translate(0, 0) scaleY(.8);
  }
  100% {
    background: lightgrey;
    transform: translate(-40%, 10px) scaleY(.8);
    -webkit-transform: translate(-40%, 10px) scaleY(.8);
  }
}

@-webkit-keyframes showSignup {
  0% {
    background: #d7e7f1;
    transform: translate(-40%, 10px) scaleY(.8);
  }
  50% {
    transform: translate(0, 0) scaleY(.8);
  }
  100% {
    background-color: #fff;
    transform: translate(-35%, -20px) scaleY(1);
  }
}
@-webkit-keyframes hideSignup {
  0% {
    background-color: lightgrey;
    transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    transform: translate(0, 0) scaleY(.8);
  }
  100% {
    background: lightgrey;
    transform: translate(-40%, 10px) scaleY(.8);
  }
}
.loginform .form fieldset {
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}
.loginform .form-login fieldset {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.loginform .form-signup fieldset {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
.loginform .form-wrapper.is-active fieldset {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: opacity .4s ease-in, transform .35s ease-in;
  -webkit-transition: opacity .4s ease-in, transform .35s ease-in;
}
.loginform .form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.loginform .input-block {
  margin-bottom: 20px;
}
.loginform .input-block label {
  font-size: 14px;
  color: dimgrey;
}
/*4db2f1*/
/*ea6725*/
.loginform .input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #4db2f1;
  background: #eef9fe;
  border: 1px solid #ea6725;
  border-radius: 2px;
}
.loginform .form [type='submit'] {
  opacity: 0;
  display: block;
  min-width: 120px;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}
.loginform .form-wrapper.is-active .form [type='submit'] {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
}
.loginform .btn-login {
  color: #fbfdff;
  background: #ea6725;
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
}
.loginform .btn-signup {
  color: #fbfdff;
  background: #ea6725;
  box-shadow: inset 0 0 0 2px #fbfdff;
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
}
.loginform .loginerrortext {
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: .5px;
  color: lightgrey;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}
.loginErrorParams{
  display: inline-block;
  background-color: lightgrey;
  text-align: center;
  font-size: 2em;
  color: black;
  border: 1px solid #ff6a00 !important;
  border-radius: 20px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/*NAVBAR AND FOOTER*/
.navbar {
  /*text-transform: uppercase;*/
  /*letter-spacing: .1rem;*/
  background-color: #4db2f1!important;
  /*background-image: linear-gradient(90deg, #4db2f1, darkblue);*/
  border-bottom: 4px solid #ea6725;
  align-items: center!important;
  top: 0 !important;
  margin-top: 0 !important;
  /*margin-bottom: 20px !important;*/
}

.lg-nav{
  padding-top:2.5em;
}
.navbar-brand {
  font-size: 6em;
  font-family: 'Grand Hotel', cursive;
  text-shadow: 1px 1px black;
  margin-top: -12px;
  padding-top: 0;
  color: white;
}

.sm-navbar-brand {
  font-size: 6em;
  font-family: 'Grand Hotel', cursive;
  text-shadow: 1px 1px black;
  margin-top: -12px;
  margin-left: 0!important;
  margin-right: auto;
  padding: 0;
  color: white;
}


.sm-nav-link,
.nav-link {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px black;
  /*text-shadow: 1px 2px black;*/
}


nav a {
  color: white;
  padding: .75em;
}
.sm-nav-link:hover,
.nav-link:hover {
  color: #ea6725;
  text-shadow: 1px 1px black;
}

.navbar-brand:hover {
  color: #ea6725;
  text-shadow: 1px 1px white;
}
nav a:active,
  /*nav a:link,*/
nav a:visited {
  color: white;
}
nav #searchbutton {
  background-color: #ea6725 !important;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  font-family: 'Grand Hotel', cursive;
  height: 34px!important;
}
nav #searchbutton:hover {
  color: #4db2f1;
}
nav #searchfield {
  border: 1px solid #ff6a00 !important;
  border-radius: 5px;
  margin: 0;
  font-size: 2em;
}
/*FOOTER*/
.OHfooter {
  /*background-color: #ff6a00!important;*/
  width: 100% !important;
  height: 6.5em;
  position: static;
  bottom: 0 !important;
  margin-top: auto!important;
  background-color: #ea6725;
  color: black;
  border-top: 2px solid white;
  /*padding-top: 10px!important;*/
}

.footer {
  height: 6.5em;
}

#footer-ul {
  display: flex;
  /*justify-content: flex-end !important;*/
  margin: 0!important;
  padding-top: 10px!important;
  margin-block-end: 0!important;
  margin-block-start: 0!important;
  list-style: none;
  line-height: 4em;
}
.footer-left {
  margin-right: auto;
  /*margin-left: 0;*/
  /*padding-top: 10px;*/
  justify-content: center !important;
}
.footer-link {
  /*font-size: 1.5em;*/
  margin-right: 0;
  margin-left: 0;
  /*width: 15%;*/
}
.footer-link p{
  /*padding-top: 10px;*/
}
/* unvisited link */
.footer-link a:link {
  color: #ffffff;
}
/* visited link */
.footer-link a:visited {
  color: #ffffff;
}
/* mouse over link */
.footer-link a:hover {
  color: #4db2f1;
}
/* selected link */
.footer-link a:active {
  color: #ffffff;
}

/*EVENTS INDEX*/

.eventcard {
  /*border: 1px solid blue;*/
  box-sizing: border-box;
  height: 30%;
  margin-bottom: 1em;
}
.eventcard .card-title {
  display: flex;
  justify-content: center;
  /*border-bottom: 1px solid blue;*/
  font-size: 25px;
}
.eventcard .card-body {
  /*border-bottom: 1px solid blue;*/
  min-height: 200px;
}
.eventcard .btn-div {
  margin-top: auto;
}
.eventindeximg {
  /*min-height: 125px;*/
  /*min-width: 125px;*/
  height: 100%;
  width: auto;
  margin-left: 30%;
}
.eventindeximageholder {
  height: 125px;
  width: 125px;
}

.list-group-item {
  font-size: 17px;
}
/*MAP AND CALENDAR*/
#mapShow {
  width: 90vw;
  height: 80vh;
  margin: 1em auto 1em;
  border: 2px solid white;
}
.singleEventCard{
  /*min-height: 40%;*/
}

.singleEventImg{
  min-width: 100%;

}

.singleeventmap {
  min-height: 20px;
  /*min-width: 100px;*/
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
#upcoming {
  border: 2px solid #ff6a00;
  border-radius: 5px;
  margin-top: 4em;
  max-width: 90%;
}
#calendarShow {
  background-color: white;
}
.fc-header-toolbar {
  background-color: #ea6725;
  color: white;
  font-size: 2em;
}

.btn-primary {
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
}
.fc-content {
  color: white;
  font-size: 2em;
}
.fc-content:hover {
  background-color: #ea6725;
  cursor: pointer;
}
.fc-center h2{
  /*margin-left: -60%;*/
}
.hovercard:hover {
  border: 1px solid #ea6725;
  box-shadow: 0 15px 6px -8px #ea6725;
}
/*EDIT EVENT*/
.editevent {
  display: flex;
  justify-content: center;
  min-width: 100% !important;
  /*padding-bottom: 20px;*/
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 20px 0 60px;
}
/*password helper modal on login page*/
#passwordHelpModal .modal-content {
  background-color: white;
  border: 4px solid #ea6725;
  border-radius: 5px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
#passwordHelpModal .modal-title {
  font-size: 2em;
}
#passwordHelpModal .modal-body {
  font-size: 1.5em;
}
#passwordHelpModal #criteriaList {
}
/*SLIDER INPUT*/
.createeventform .slidecontainer {
  width: 100%; /* Width of the outside container */
}
/* The slider itself */
.createeventform .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.createeventform .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4db2f1;
  cursor: pointer;
}

.createeventform .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4db2f1;
  cursor: pointer;
}

.card-title{
  border-bottom: 1px solid #4db2f1;
  display: flex;
  justify-content: center;
}

.cardImage {
  height: auto;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  /*border-bottom: 1px solid #4db2f1;*/
}

.card-img {
  border: 1px solid #4db2f1;
  border-radius: 2px;
}

.cardbodySize {
  min-height: 150px;
}

.whitebox {
  width: 60% !important;
  background-color: white!important;
  border: 1px solid #ea6725!important;
  border-radius: 5px!important;
}
.mapimg {
  margin: auto;
  height: 92%;
}

#login-icon {
  height: 20px;
  width: 20px;
}

#events-icon {
  height: 20px;
  width: 20px;
}
.fc-today-button:disabled{
  display: none;

}

img, image {
  /*max-height: 500px;*/

}


.cat-pill {
  color: white;
  background-color: #ea6725;
  border: 1px solid white;
  border-radius: 25px;
  height: 50px;
  font-size: 1.5em;
  padding: 10px;
  margin-top: 50px;
}

textarea {
  padding: .5em;
}

