
.navbar {
    /*text-transform: uppercase;*/
    /*letter-spacing: .1rem;*/
    background-color: #4db2f1;
    /*background-image: linear-gradient(90deg, #4db2f1, darkblue);*/
    border-bottom: 4px solid #ea6725;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-brand {
    /*padding: .75em!important;*/
    font-size: 6em;
    font-family: 'Grand Hotel', cursive;
    text-shadow: 1px 1px black;
    margin-top: -5px;
    padding-top: 0;
}

.nav-link {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 2px black;
}


nav a {
    color: white;
    padding: .75em;
}

.nav-link:hover {
    color:#ea6725;
    text-shadow: 1px 1px black;
}
.navbar-brand:hover {
    color:#ea6725;
    text-shadow: 1px 1px white;

}

nav a:active,
/*nav a:link,*/
nav a:visited {
    color: white;
}


nav #searchbutton{
    background-color: #ea6725!important;
    border: 1px solid white;
    border-radius:  5px;
    font-size: 2em;
    color: white;
    font-family: 'Grand Hotel', cursive;
}

nav #searchbutton:hover{
    color: #4db2f1;
}
nav #searchfield{
    border: 1px solid #ff6a00!important;
    border-radius: 5px;
    margin: .25em;
    font-size: 2em;
}

