
.navbar {
    /*text-transform: uppercase;*/
    /*letter-spacing: .1rem;*/
    background-color: #4db2f1;
    /*background-image: linear-gradient(90deg, #4db2f1, darkblue);*/
    border-bottom: 4px solid #ea6725;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-brand {
    /*padding: .75em!important;*/
    font-size: 6em;
    font-family: 'Grand Hotel', cursive;
    text-shadow: 1px 1px black;
    margin-top: -5px;
    padding-top: 0;
}

.nav-link {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 2px black;
}


nav a {
    color: white;
    padding: .75em;
}

.nav-link:hover {
    color:#ea6725;
    text-shadow: 1px 1px black;
}
.navbar-brand:hover {
    color:#ea6725;
    text-shadow: 1px 1px white;

}

nav a:active,
/*nav a:link,*/
nav a:visited {
    color: white;
}


nav #searchbutton{
    background-color: #ea6725!important;
    border: 1px solid white;
    border-radius:  5px;
    font-size: 2em;
    color: white;
    font-family: 'Grand Hotel', cursive;
}

nav #searchbutton:hover{
    color: #4db2f1;
}
nav #searchfield{
    border: 1px solid #ff6a00!important;
    border-radius: 5px;
    margin: .25em;
    font-size: 2em;
}

/*FOOTER*/

.footer {
    /*background-color: #ff6a00!important;*/
    width: 100%!important;
    height: 5em;
    position: fixed;
    bottom: 0!important;
    margin-top: 10px!important;
    /*border-top: 4px solid white;*/

}



#footer-ul{
    display: flex;
    justify-content: flex-end!important;
    margin:0;
    /*padding-left: .25em;*/
    color: #FDFF02;
    list-style: none;
    line-height: 4em;

}
#footer-left{
    margin-right: auto;
    margin-left: 3%;
}

.footer-link{
    color: #ffffff;
    font-size: 1.5em;
    margin-right: 1%;
    margin-left: 1%;
    /*width: 15%;*/
}
/* unvisited link */
/*a:link {*/
/*    color: #FDFF02;*/
/*}*/

/* visited link */
/*a:visited {*/
/*    color: #00aced;*/
/*}*/

/* mouse over link */
a:hover {
    color: #ff1493;
}

/* selected link */
a:active {
    color: #01a0ca;
}

