*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0!important;
  padding: 0!important;
}


body {

}

.jumbotron {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.container{
  display: flex;
  justify-content: center;
  min-width: 100% !important;
  padding-top: 20px;
}




/*Cards*/

.card{
  border: 1px solid blue;
  box-sizing: border-box;
  min-height: 400px;
  max-width: 400px;
}
.card-title{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid blue;
  font-size: 25px;
}
.card-body{
  border-bottom: 1px solid blue;
  min-height: 200px;
}
.btn-div{
  margin-top: auto;
}

form{
  display: inline !important;
}




