<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>About</title>
</head>
<body>
<div class="wrapper">
    <nav th:include="partials/navbar :: navbar"></nav>
    <h1>About Us</h1>
</div>

<main class="container contentBg main-panel">
    <!-- About Section -->
    <section class="row row-noMargin">
        <div class="whoIs contentBg">
            <a name="aboutus"></a>
            <h3 class="about-text">About Us</h3>
            <div class="card_view">

                <!-- Eduardo -->
                <div class="card">
                    <h4 class="card-text">Eduardo Gamez</h4>
                    <img class="card-img mb-4" alt="" src="">
                    <div class="icons">
                        <a class="whoIs-links" href="">
                            <img class="img" src="" alt="codeup">
                        </a>
                        <a class="whoIs-links" href="https://github.com/evaleriog"><i
                                class="fab fa-github-square fa-3x"></i></a>
                        <a class="whoIs-links" href="https://www.linkedin.com/in/eduardovalerio/"><i
                                class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <!-- Bryan -->
                <div class="card">
                    <h4 class="card-text">Bryan Walsh</h4>
                    <img class="card-img mb-4" alt="" src="">
                    <div class="icons">
                        <a class="whoIs-links" href="">
                            <img class="img" src="" alt="codeup">
                        </a>
                        <a class="whoIs-links" href="https://github.com/WalshCBryan"><i
                                class="fab fa-github-square fa-3x"></i>
                        </a>
                        <a class="whoIs-links" href="https://www.linkedin.com/in/walsh-bryan/"><i
                                class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <!-- Roger -->
                <div class="card">
                    <h4 class="card-text">Roger Mayer</h4>
                    <img class="card-img mb-4" alt="" src="">
                    <div class="icons">
                        <a class="whoIs-links" href="">
                            <img class="img" src="" alt="codeup">
                        </a>
                        <a class="whoIs-links" href="https://github.com/roger-mayer"><i
                                class="fab fa-github-square fa-3x"></i></a>
                        <a class="whoIs-links" href="https://www.linkedin.com/in/roger-mayer/"><i
                                class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <!-- Christian -->
                <div class="card">
                    <h4 class="card-text">Christian Crousser Kaiman</h4>
                    <img class="card-img mb-4" alt="" src="">
                    <div class="icons">
                        <a class="whoIs-links" href="">
                            <img class="img" src="" alt="codeup">
                        </a>
                        <a class="whoIs-links" href="https://github.com/ChristianCrousser"><i
                                class="fab fa-github-square fa-3x"></i></a>
                        <a class="whoIs-links" href="https://www.linkedin.com/in/christian-crousser-kaiman/"><i
                                class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
</body>
</html>