<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>About</title>
    <!--    <link rel="stylesheet" href="/css/about.css">-->
    <!--    <link rel="stylesheet" href="/css/navbar.css">-->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>
<div class="container">
    <h1 class="text-center">About Us</h1>
    <div id="holder" class="d-flex flex-wrap justify-content-center ">
        <!--    Christian   -->
        <div class="card aboutcard mx-2">
            <img class="card-img-top headshot mx-auto" src="images/christian-headshot.jpeg" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title center">Christian Crousser Kaiman</h1>
            </div>

            <ul class="aboutlinksUL d-flex  justify-content-center align-text-bottom">
                <li>
                    <a class="whoIs-links" href="https://github.com/ChristianCrousser" target="_blank"><i
                            class="fab fa-github-square fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://www.linkedin.com/in/christian-crousser-kaiman/"
                       target="_blank"><i
                            class="fab fa-linkedin fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://alumni.codeup.com/students/759" target="_blank"><img
                            class="abtcodeuplogo" src="images/codeup-logoblue.png"></a>
                </li>
            </ul>
        </div>

        <!--    Roger   -->
        <div class="card aboutcard mx-2">
            <img class="card-img-top headshot mx-auto" src="images/roger-headshot.png" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title center">Roger Mayer</h1>
            </div>
            <ul class="aboutlinksUL d-flex  justify-content-center">
                <li>
                    <a class="whoIs-links" href="https://github.com/roger-mayer" target="_blank"><i
                            class="fab fa-github-square fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://www.linkedin.com/in/roger-mayer/" target="_blank"><i
                            class="fab fa-linkedin fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://alumni.codeup.com/students/754" target="_blank"><img
                            class="abtcodeuplogo" src="images/codeup-logoblue.png"></a>
                </li>
            </ul>
        </div>

        <!--    Eduardo   -->
        <div class="card aboutcard mx-2">
            <img class="card-img-top headshot mx-auto" src="images/eduardo-headshot.jpeg" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title center">Eduardo Valerio Gamez</h1>
            </div>

            <ul class="aboutlinksUL d-flex  justify-content-center">
                <li>
                    <a class="whoIs-links" href="https://github.com/evaleriog" target="_blank"><i
                            class="fab fa-github-square fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://www.linkedin.com/in/eduardovalerio/" target="_blank"><i
                            class="fab fa-linkedin fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://alumni.codeup.com/students/757" target="_blank"><img
                            class="abtcodeuplogo" src="images/codeup-logoblue.png"></a>
                </li>
            </ul>
        </div>

        <!--    Bryan   -->
        <div class="card aboutcard mx-2">
            <img class="card-img-top headshot mx-auto" src="images/bryan-headshot.png" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title center">Bryan Walsh</h1>
            </div>
            <ul class="aboutlinksUL d-flex justify-content-center">
                <li>
                    <a class="whoIs-links" href="https://github.com/WalshCBryan" target="_blank"><i
                            class="fab fa-github-square fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://www.linkedin.com/in/WalshCBryan/" target="_blank"><i
                            class="fab fa-linkedin fa-3x"></i></a>
                </li>
                <li>
                    <a class="whoIs-links" href="https://alumni.codeup.com/students/751" target="_blank"><img
                            class="abtcodeuplogo" src="images/codeup-logoblue.png"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<footer th:insert="partials/navbar :: footer"></footer>


</body>
</html>
