<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <!--    <link rel="stylesheet" href="css/navbar.css">-->
    <!--    <link rel="stylesheet" href="css/home.css">-->
    <link rel="stylesheet" href="css/main.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href='../core/main.css' rel='stylesheet'/>
    <link href='../daygrid/main.css' rel='stylesheet'/>
    <link href="../bootstrap/main.css" rel="stylesheet"/>
    <link href='../timegrid/main.css' rel='stylesheet'/>
    <link href='../list/main.css' rel='stylesheet'/>
    <script src='../core/main.js'></script>
    <script src='../daygrid/main.js'></script>
    <script src='../bootstrap/main.js'></script>
    <script src='../timegrid/main.js'></script>
    <script src='../list/main.js'></script>
    <title>Home</title>
</head>
<body>

<nav th:insert="partials/navbar :: navbar"></nav>
<div class="container">

    <div class="mx-auto mt-4">
        <div id="carouselmain" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 400px;">
                    <img class="d-block w-100 carimg" src="images/vol1.png" alt="First slide">
                </div>
                <div class="carousel-item" style="max-height: 400px;">
                    <img class="d-block w-100 carimg" src="images/vol2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item" style="max-height: 400px;">
                    <img class="d-block w-100 carimg" src="images/vol3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item" style="max-height: 400px;">
                    <img class="d-block w-100 carimg" src="images/vol3.png" alt="Third slide">
                </div>

            </div>
        </div>
    </div>

    <div class="roboto center white lgtext" style="margin-top: 50px;">
        <h1><span class="underline">GIVE</span> where you <span class="underline">LIVE!</span></h1>
        <br>
        <h2>Connecting the community one step at a time!</h2>
        <br>
        <h2> Don't wait, sign up to volunteer today!</h2>
        <br>
    </div>

    <h1 class="center white medium">Upcoming Events</h1>

    <div id="upcoming" class="roboto center white lgtext w-50 mx-auto">
        <div id="calendarShow"></div>
    </div>
</div>


<div class="footer mt-5 mb-0">
    <nav th:insert="partials/navbar :: footer"></nav>
</div>

<script>
    $('#carousalmain').carousel({
        interval: 1000
    })

    $(document).ready(function () {
        var request = $.ajax({'url': '/event/events.json'});
        request.done(function (events) {
            var calEvents = [];
            events.forEach(function (event) {

                calEvents.push({
                    id: event.id,
                    title: event.title,
                    start: event.date_time,
                    url: 'http://myopenhelp.com/events/singleevent/' + event.id

                });


            });//end of each
            var calendarEl = document.getElementById('calendarShow');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'],
                timeZone: 'UTC',
                themeSystem: 'bootstrap',
                defaultView: 'dayGridMonth',
                height: 500,
                contentHeight: 500,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                eventLimit: true, // allow "more" link when too many events
                events: calEvents,
                editable: true,
                eventClick: function (info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate

                    if (info.event.url) {
                        window.location.href = info.event.url;
                    }
                }
            });

            calendar.render();


        });//end of done
    });
</script>
<style>
    #upcoming {
        width: 100%!important;
        height: auto!important;
    }

    .carimg {
        width: 100%;
    }
</style>
</body>
</html>